<a href="https://colab.research.google.com/github/kireayom16/classfiles/blob/main/practica14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/classfiles/unidad2/nls97.csv')

In [6]:
# Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

print("Valores únicos en 'maritalstatus':")
print(df['maritalstatus'].unique())


print("\nFrecuencia de cada valor:")
print(df['maritalstatus'].value_counts())

df['maritalstatus'] = df['maritalstatus'].replace('Never-Married', 'Single')


print("\nFrecuencia después de cambios:")
print(df['maritalstatus'].value_counts())

Valores únicos en 'maritalstatus':
['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

Frecuencia de cada valor:
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

Frecuencia después de cambios:
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

In [7]:
 #Ejercicio 02: Errores Tipográficos y Valores Inconsistentes


print("Valores únicos en 'highestdegree':")
print(df['highestdegree'].unique())


print("\nFrecuencia de cada valor:")
print(df['highestdegree'].value_counts())


df['highestdegree'] = (df['highestdegree'].str.lower().str.replace(r'^[0-9]+\\. ', '', regex=True))


print("\nNuevos valores únicos:")
print(df['highestdegree'].unique())

Valores únicos en 'highestdegree':
['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]

Frecuencia de cada valor:
highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64

Nuevos valores únicos:
['2. high school' '0. none' '4. bachelors' '3. associates' '5. masters'
 '1. ged' '7. professional' '6. phd' nan]

In [8]:
# Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas


df['marital_grouped'] = df['maritalstatus'].replace({'Widowed': 'Single/No Partner','Single': 'Single/No Partner'})


print("Valores únicos en 'marital_grouped':")
print(df['marital_grouped'].unique())


print("\nFrecuencia de cada valor en 'marital_grouped':")
print(df['marital_grouped'].value_counts())

Valores únicos en 'marital_grouped':
['Married' 'Never-married' nan 'Divorced' 'Separated' 'Single/No Partner']

Frecuencia de cada valor en 'marital_grouped':
marital_grouped
Married              3066
Never-married        2766
Divorced              663
Separated             154
Single/No Partner      23
Name: count, dtype: int64

In [9]:
# Ejercicio 04: Tipos de Datos


print("Tipo de datos de 'gender':", df['gender'].dtype)


print("Bytes ocupados por 'gender':", df['gender'].memory_usage(deep=True))


if df['gender'].dtype == 'object':
    df['gender'] = df['gender'].astype('category')
    print("\n'gender' convertido a categoría.")


print("Bytes ocupados por 'gender' después del cambio:", df['gender'].memory_usage(deep=True))

Tipo de datos de 'gender': object
Bytes ocupados por 'gender': 485054

'gender' convertido a categoría.
Bytes ocupados por 'gender' después del cambio: 9332