<a href="https://colab.research.google.com/github/kireayom16/classfiles/blob/main/practicas13_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Práctica 13: Carga de Datos

import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/classfiles/unidad2/miaad-nyc-r-s.csv").iloc[:-1, :]

# Mostrar últimas 3 filas (sin la línea irrelevante)

print(df.tail(3))

# Mostrar cantidad de filas y columnas

print("Filas:", df.shape[0], " Columnas:", df.shape[1])

      Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545       8411      5.0      WOODROW
84546       8412      5.0      WOODROW
84547       8413      5.0      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
84545  7351.0   60.0                                  B2
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9

                     ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
84545       49 PITNEY AVENUE  ...               2.0               0.0
84546  2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547      155 CLAY PIT ROAD  ...               0.0               1.0

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
84545          2.0              4000               1496     1925.0
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
84545                       1.0                              B2      460000
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300

                 SALE DATE
84545  2017-07-05 00:00:00
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00

[3 rows x 22 columns]
Filas: 84548  Columnas: 22

/tmp/ipython-input-1115490497.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/MyDrive/classfiles/unidad2/miaad-nyc-r-s.csv").iloc[:-1, :]

In [13]:
# Práctica 14: Agregar una columna

print("\nNombres originales de las columnas:",df.columns)

if df.columns[0] != "INDEX MIIAD":
    df.rename(columns={df.columns[0]: "INDEX MIIAD"}, inplace=True)

print("\nNombres corregidos de las columnas:",df.columns)

Nombres originales de las columnas: Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

Nombres corregidos de las columnas: Index(['INDEX MIIAD', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

In [17]:
# Práctica 15: Normalización de los nombres de las columnas

df.norm = df.columns.str.strip().str.lower().str.replace(" ", "_")

print("\nNombres de columnas normalizados:",df.norm)

Nombres de columnas normalizados: Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

In [20]:
# Práctica 16: Errores en los Tipos de Datos

print(df.dtypes)

cols_float = ["sale_price", "land_square_feet", "gross_square_feet"]

for col in cols_float:
    df[col] = pd.to_numeric(df[col], errors="coerce")

print("\nTipos de datos corregidos:")
print(df.dtypes)

INDEX MIIAD                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

Tipos de datos corregidos:
INDEX MIIAD                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

In [23]:
# Práctica 17: Diccionario de Datos


diccionario_datos = { col:{"tipo_dato": str(df[col].dtype), "nulos": df[col].isnull().sum(),"ejemplo_valor": df[col].dropna().iloc[0] if df[col].notnull().any() else None}
    for col in df.columns}

for columna, info in diccionario_datos.items():
    print(f"{columna}: {info}")

INDEX MIIAD: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': 4}
borough: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(1.0)}
neighborhood: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': 'ALPHABET CITY'}
building_class_category: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': '07 RENTALS - WALKUP APARTMENTS             '}
tax_class_at_present: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': '2A'}
block: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(392.0)}
lot: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(6.0)}
ease-ment: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': ' '}
building_class_at_present: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': 'C2'}
address: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': '153 AVENUE B'}
apartment_number: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': ' '}
zip_code: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(10009.0)}
residential_units: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(5.0)}
commercial_units: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(0.0)}
total_units: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(5.0)}
land_square_feet: {'tipo_dato': 'float64', 'nulos': np.int64(26252), 'ejemplo_valor': np.float64(1633.0)}
gross_square_feet: {'tipo_dato': 'float64', 'nulos': np.int64(27612), 'ejemplo_valor': np.float64(6440.0)}
year_built: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(1900.0)}
tax_class_at_time_of_sale: {'tipo_dato': 'float64', 'nulos': np.int64(0), 'ejemplo_valor': np.float64(2.0)}
building_class_at_time_of_sale: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': 'C2'}
sale_price: {'tipo_dato': 'float64', 'nulos': np.int64(14561), 'ejemplo_valor': np.float64(6625000.0)}
sale_date: {'tipo_dato': 'object', 'nulos': np.int64(0), 'ejemplo_valor': '2017-07-19 00:00:00'}